#include <winresrc.h>

//LANGUAGE 25, 1

101 DIALOG 0,0,186,90
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Dialog"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON	"OK",1,129,7,50,14,0
	PUSHBUTTON	"Cancel",2,129,24,50,14,0
END
